::-webkit-scrollbar {
  background: $base-smoke;
  width: $base-dimension / 10;

	&:horizontal {
		height: $base-dimension / 10;
	}
}

::-webkit-scrollbar-thumb {
  background: $base-charcoal;
  box-sizing: content-box;
}
