---
title: About
layout: page
slug: about
copy: |
  is a user-centric independent design consultancy focusing on simplicity. Our creative process blends visual design, user experience, and content strategy to create relevant, brand-driven experiences that bring brands closer to their customers.
---

<section class="ph3 ph4-m ph6-l pv4 pv6-ns bg-near-white" id="about">
  <p class="f4 f3-ns measure lh-copy wow animated fadeIn">{{ site.title }} {{ page.copy }}</p>
  <p class="measure lh-copy wow animated fadeIn">{{ site.title }} {{ page.copy }}</p>
</section>
{% include contact.html %}
{% include location.html %}
