---
title: Home
layout: default
slug: home
---

<center class="cf ph3 ph4-ns pv4 pv6-ns bg-white" id="services">
  <header class="wow animated fadeInDown">
    <h1 class="f2 f1-ns lh-title tracked-tight">Services</h1>
  </header>
  <div class="w-100 w-third-l fn fl-l pa0 pr4-l">
    <header class="wow animated fadeInUp">
      <h2 class="f4 f3-ns measure-narrow lh-copy">Web &amp; Interactive Design</h2>
    </header>
    <p class="measure lh-copy wow animated fadeIn">We focus on design and technology as a broader approach to user experience, product performance and consumer perception. A website is a necessary tool for nearly every business and organization. Our interactive design approach focuses on usability, impact, and achieving results.</p>
    <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/web-interactive-design.html">More<i class="fa fa-fw fa-long-arrow-right"></i></a>
  </div>
  <div class="w-100 w-third-l fn fl-l pa0 ph4-l">
    <header class="wow animated fadeInUp">
      <h2 class="f4 f3-ns measure-narrow lh-copy">Branding &amp; Strategy</h2>
    </header>
    <p class="measure lh-copy wow animated fadeIn">An iterative approach ensures that our clients' goals are realized at every stage of the creative process. By looking at the your goals and budget, we’ll create a strategy to reach your users across all digital mediums that articulates who you are, what you do, and why it matters.</p>
    <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/branding-strategy.html">More<i class="fa fa-fw fa-long-arrow-right"></i></a>
  </div>
  <div class="w-100 w-third-l fn fl-l pa0 pl4-l">
    <header class="wow animated fadeInUp">
      <h2 class="f4 f3-ns measure-narrow lh-copy">Technology Consulting</h2>
    </header>
    <p class="measure lh-copy wow animated fadeIn">Technology can solve real business problems by enabling new user experiences that promote growth and innovation. Studiocraft takes an agnostic approach towards technology to best fit the needs of you and your customer. The best-planned experience is wasted without a top-notch implementation.</p>
    <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/technology-consulting.html">More<i class="fa fa-fw fa-long-arrow-right"></i></a>
  </div>
</center>
<center class="ph3 ph4-ns pv4 pv6-ns bg-near-white" id="about">
    <header class="wow animated fadeInDown">
    <h1 class="f2 f1-ns lh-title tracked-tight">About</h1>
  </header>
  <p class="f4 f3-ns measure lh-copy wow animated fadeIn">{{ site.title }} is a user-centric independent design consultancy focusing on simplicity. Our creative process blends visual design, user experience, and content strategy to create relevant, brand-driven experiences that bring brands closer to their customers.</p>
  <a class="dim no-underline br-pill ba bw1 ph4 pv3 mv2 dib near-black b ttu tracked" href="{{ site.baseurl }}/about.html">Our Story</a>
</center>
{% include contact.html %}
{% include location.html %}
{% include subscribe.html %}

<!-- <section class="ph3 ph4-ns pv4 pv6-ns bg-white" id="strategy">
  <h2 class="f2 f1-ns lh-title tracked-tight wow animated fadeInDown">Strategy</h2>
  <p class="f4 f3-ns measure-narrow lh-copy wow animated fadeIn">{{ site.title }} focuses on design and technology as a broader approach to experience, product performance and consumer perception.</p>
  <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/strategy.html">More<i class="fa fa-fw fa-long-arrow-right"></i></a>
  <p class="measure lh-copy wow animated fadeIn">{{ site.title }} combines new tools with traditional research expertise to develop a deep understanding of the user's wants and needs, and to guide strategy, design and technology decisions.</p>
  <ul class="list pa0 mv4 measure-wide cf mid-gray wow animated fadeInUp">
    <label class="db mv1 tracked light-silver b ttu"><small>Services</small></label>
    <li class="fl-ns w-50-ns"><small>Stakeholder interviews</small></li>
    <li class="fl-ns w-50-ns"><small>Brand identity and planning</small></li>
    <li class="fl-ns w-50-ns"><small>Customer research and surveys</small></li>
    <li class="fl-ns w-50-ns"><small>User personas and pathways</small></li>
    <li class="fl-ns w-50-ns"><small>Usability and accesibility audits</small></li>
    <li class="fl-ns w-50-ns"><small>User journeys and flows</small></li>
    <li class="fl-ns w-50-ns"><small>Sitemaps and wireframes</small></li>
  </ul>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns bg-near-white" id="design">
  <h2 class="f2 f1-ns lh-title tracked-tight wow animated fadeInDown">Design</h2>
  <p class="f4 f3-ns measure-narrow lh-copy wow animated fadeIn">{{ site.title }} strives to create work that is distinct, effective, inspirational and forward-thinking.</p>
  <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/design.html">More<i class="fa fa-fw fa-long-arrow-right"></i></a>
  <p class="measure lh-copy wow animated fadeIn">An iterative approach ensures that our clients' goals are realized at every stage of the creative process. {{ site.title }} builds an understanding of all the inputs and outputs of your project to create a concise and engaging approach to design.</p>
  <ul class="list pa0 mv4 measure-wide cf mid-gray wow animated fadeInUp">
    <label class="db mv1 tracked light-silver b ttu"><small>Services</small></label>
    <li class="fl-ns w-50-ns"><small>Logos and wordmarks</small></li>
    <li class="fl-ns w-50-ns"><small>Custom typography and icons</small></li>
    <li class="fl-ns w-50-ns"><small>Styleguides</small></li>
    <li class="fl-ns w-50-ns"><small>UX pattern and component libraries</small></li>
    <li class="fl-ns w-50-ns"><small>Photography and video</small></li>
  </ul>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns bg-white" id="technology">
  <h2 class="f2 f1-ns lh-title tracked-tight wow animated fadeInDown">Technology</h2>
  <p class="f4 f3-ns measure-narrow lh-copy wow animated fadeIn">{{ site.title }} takes an agnostic approach towards technology to best fit your needs. We believe that technology can solve real problems by enabling new user experiences that promote growth and innovation.</p>
  <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/technology.html">More<i class="fa fa-fw fa-long-arrow-right"></i></a>
  <p class="measure lh-copy wow animated fadeIn">We build across and for all devices, focusing on a client's entire digital ecosystem with context, mobile and user center design at its core to turn your ideas and designs into functional, reliable products and services.</p>
  <ul class="list pa0 mv4 measure-wide cf mid-gray wow animated fadeInUp">
    <label class="db mv1 tracked light-silver b ttu"><small>Services</small></label>
    <li class="fl-ns w-50-ns"><small>Pattern library development</small></li>
    <li class="fl-ns w-50-ns"><small>Web animation development</small></li>
    <li class="fl-ns w-50-ns"><small>Front-end engineering</small></li>
    <li class="fl-ns w-50-ns"><small>CMS consulting</small></li>
  </ul>
  <div class="cf mv4 mv0-ns mw8">
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>Devices</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-mobile"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-tablet"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-laptop"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-desktop"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-apple"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-android"></i></li>
    </ul>
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>Browsers</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-chrome"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-safari"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-internet-explorer"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-firefox"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-opera"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-edge"></i></li>
    </ul>
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>Code</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-html5"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-css3"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-jsfiddle"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-codepen"></i></li>
    </ul>
    <ul class="list fl w-100 w-50-m w-25-l pa0 mv2 mid-gray wow animated fadeInUp">
      <label class="db mv3 tracked light-silver b ttu"><small>SCM</small></label>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-git"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-github"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-bitbucket"></i></li>
      <li class="dib mh0"><i class="fa fa-fw fa-lg fa-gitlab"></i></li>
    </ul>
  </div>
</section>
{% include contact.html %} -->
