---
layout: page
title: Strategy
slug: strategy
---
<section class="ph3 ph4-ns pv4 pv6-ns bg-white" id="strategy">
  <h2 class="f2 f1-ns lh-title tracked-tight wow animated fadeInDown">Stakeholder Interviews</h2>
  <h3 class="f4 f3-ns normal measure-narrow lh-copy wow animated fadeIn">At {{ site.title }}, during the early stages of any engagement, we are focused on conversation and discussion to better understand the importantance of vision and objectives.</h3>
  <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/#">Recent Case Studies<i class="fa fa-fw fa-long-arrow-right"></i></a>
  <p class="measure lh-copy wow animated fadeIn">Gathering all specific requirements, business and professional cases, and proposed or desired capabilities to inform a project plan when making crucial decisions regarding objectives, scope, schedule, resources, and deliverables.</p>
  <ul class="list pa0 mv4 measure-wide cf mid-gray wow animated fadeInUp">
    <label class="db mv1 tracked light-silver b ttu"><small>Stakeholder Interviews Capabilities</small></label>
    <li class="fl-ns w-50-ns"><small>Stakeholder insights and keynotes</small></li>
    <li class="fl-ns w-50-ns"><small>Functionality and requirement gathering</small></li>
    <li class="fl-ns w-50-ns"><small>Identifying business requirements</small></li>
    <li class="fl-ns w-50-ns"><small>Identifying user requirements</small></li>
    <li class="fl-ns w-50-ns"><small>Defining functional requirements</small></li>
    <li class="fl-ns w-50-ns"><small>Identifying quality-of-service requirements</small></li>
    <li class="fl-ns w-50-ns"><small>Providing implementation requirements</small></li>
  </ul>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns bg-near-white" id="strategy">
  <h2 class="f2 f1-ns lh-title tracked-tight wow animated fadeInDown">User Research and Surveys</h2>
  <h3 class="f4 f3-ns normal measure-narrow lh-copy wow animated fadeIn">{{ site.title }} focuses on understanding your user's behaviors, needs, and motivations.</h3>
  <a class="dib link blue underline-hover b ttu mv4" href="{{ site.baseurl }}/#">Recent Work<i class="fa fa-fw fa-long-arrow-right"></i></a>
  <p class="measure lh-copy wow animated fadeIn">Understanding the impact of design on your audience helps identify project challenges upfront and respond to users needs while still meeting your professional goals.</p>
  <ul class="list pa0 mv4 measure-wide cf mid-gray wow animated fadeInUp">
    <label class="db mv1 tracked light-silver b ttu"><small>User Research and Surveys Capabilities</small></label>
    <li class="fl-ns w-50-ns"><small>Digital surveys and questionaires</small></li>
    <li class="fl-ns w-50-ns"><small>Contextual and individual interviews</small></li>
    <li class="fl-ns w-50-ns"><small>Target audience and segmentations</small></li>
    <li class="fl-ns w-50-ns"><small>User entry points and pathways</small></li>
    <li class="fl-ns w-50-ns"><small>Conversion funnels and optimization</small></li>
  </ul>
</section>
<!-- <section class="ph3 ph4-ns pv4 pv6-ns bg-near-white">
   <div class="cf w-100">
    <figure class="w-100 w-50-m w-25-l ma0 fl tc">
      <div id="internetPenetration_in" class="h5"></div>
      <figcaption class="f6 f5-ns mv2 mv3-ns measure-wide lh-copy">India</figcaption>
    </figure>
    <figure class="w-100 w-50-m w-25-l ma0 fl tc">
      <div id="internetPenetration_cn" class="h5"></div>
      <figcaption class="f6 f5-ns mv2 mv3-ns measure-wide lh-copy">China</figcaption>
    </figure>
    <figure class="w-100 w-50-m w-25-l ma0 fl tc">
      <div id="internetPenetration_rs" class="h5"></div>
      <figcaption class="f6 f5-ns mv2 mv3-ns measure-wide lh-copy">Russia</figcaption>
    </figure>
    <figure class="w-100 w-50-m w-25-l ma0 fl tc">
      <div id="internetPenetration_us" class="h5"></div>
      <figcaption class="f6 f5-ns mv2 mv3-ns measure-wide lh-copy">United States</figcaption>
    </figure>
  </div>
  <h2 class="f3 f2-ns mv0 lh-title tracked-tight wow animated fadeInUp">Internet Pentration by Country <time>2016</time></h2>
  <label class="db mv3 mv4-ns tracked light-silver b ttu"><small>Source</small></label>
  <cite class="fs-normal silver"><a class="dib link blue underline-hover b ttu" href="strategy.html">U.S. Bureau of Labor Statistics<i class="fa fa-fw fa-long-arrow-right"></i></a></cite>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns tc tl-ns">
  <div data-flickity='{ "wrapAround": true, "adaptiveHeight": true, "lazyLoad": true }'>
    <center class="w-100">
      <figure class="mw8 center tc cf">
        <img data-flickity-lazyload="https://s-media-cache-ak0.pinimg.com/originals/cd/be/fb/cdbefb5cf55dc544400ca73e0cb20785.jpg" src="https://s-media-cache-ak0.pinimg.com/originals/cd/be/fb/cdbefb5cf55dc544400ca73e0cb20785.jpg" class="br-100 ba bw3 center b--near-white bg-white w-4 h4 h5-l w5-l o-80 fl-l" title="Dieter Rams">
        <figcaption class="fl-l tl-l center ma0 mh5-l">
          <blockquote class="ma0 measure-wide lh-copy">
            <h1 class="f1 f-5-l mv0 lh-title tracked-tight wow animated fadeInDown" data-action="cursor">Less but better</h1>
            <h2 class="f3 f2-l mv1 lh-title wow animated fadeInUp">Good design is thorough, down to the last detail.</h2>
          </blockquote>
        </figcaption>
      </figure>
    </center>
    <center class="w-100">
      <figure class="mw8 center tc cf">
        <img data-flickity-lazyload="{{ site.baseurl }}assets/images/avatar.png" src="{{ site.baseurl }}assets/images/avatar.png" class="br-100 ba bw3 center b--near-white bg-white w-4 h4 h5-l w5-l o-80 fl-l" title="Bryan Colosky">
        <figcaption class="fl-l tl-l center ma0 mh5-l">
          <blockquote class="ma0 measure-wide lh-copy">
            <h1 class="f1 f-5-l mv0 lh-title tracked-tight wow animated fadeInDown" data-action="cursor">Context is king</h1>
            <h2 class="f3 f2-l mv1 lh-title wow animated fadeInUp">The context of our experience makes it unique.</h2>
          </blockquote>
        </figcaption>
      </figure>
    </center>
  </div>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns near-white bg-dark-gray">
  <figure class="ma0">
    <div id="wageGender" class="h5 mv2 mv4-ns"></div>
    <h2 class="f3 f2-ns mv0 lh-title tracked-tight wow animated fadeInUp">Wage and Demographics - US</h2>
    <figcaption class="f5 f4-ns mv2 mv4-ns measure-wide lh-copy wow animated fadeIn"></figcaption>
    <label class="db mv3 mv4-ns tracked silver b ttu"><small>Source</small></label>
    <cite class="fs-normal silver"><a class="dib link blue underline-hover b ttu" href="strategy.html">U.S. Bureau of Labor Statistics<i class="fa fa-fw fa-long-arrow-right"></i></a></cite>
  </figure>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns bg-light-red">
  <div class="cf w-100" data-flickity='{ "wrapAround": true }'>
    {% for person in site.data.personas %}
    <article class="w-100 ph5-ns cf">
      <center class="w-100 w-third-l fl">
        <figure class="mv2 ph4-ns ma0-ns">
          <img src="https://randomuser.me/api/portraits/lego/{{ person.id }}.jpg" class="br-100 ba bw3 b--white bg-white w-3 h3 h4-ns w4-ns o-80" title="{{ person.name }}">
          <figcaption class="mv2 measure-wide lh-copy wow animated fadeIn">
            <ul class="list pa0 mv2 mv3-ns cf measure-wide wow animated fadeInUp">
              <li class="fl-ns w-50-ns"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr><small>{{ person.demographics.location | capitalize }}</small></li>
              <li class="fl-ns w-50-ns"><abbr title="Age Group"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i></abbr><small>{{ person.demographics.birthdate | date: "%b %Y" }}</small></li>
              <li class="fl-ns w-100-ns"><small>{{ person.profession.title }}</small></li>
            </ul>
          </figcaption>
        </figure>
      </center>
      <div class="w-100 w-two-thirds-l fl">
        <h2 class="f3 f2-m f1-l mv2 lh-title tracked-tight tc tl-l wow animated fadeInUp">{{ person.name }}</h2>
        <aside class="cf dn db-ns mv3-ns mw6 tc tl-l">
          {% if person.demographics %}
          <ul class="fl list pa0 ma0 mv1-ns w-100 w-50-ns wow animated fadeInUp">
            <label class="db mv1 tracked mid-gray b ttu"><small>Demographics</small></label>
            {% if person.demographics.spouse != null %}
            <li class="fl-ns w-50-ns"><small>{{ person.demographics.spouse | capitalize }} {{ person.demographics.sex | capitalize }}</small></li>
            {% endif %}
            {% if person.demographics.children != null %}
            <li class="fl-ns w-50-ns"><small>{{ person.demographics.children | capitalize }} Children</small></li>
            {% endif %}
            {% if person.demographics.languages != null %}
            <li class="fl-ns w-100-ns">
              {% for language in person.demographics.languages %}
              {% if forloop.last %}
              <small><small>{{ language | capitalize }}</small></small>
              {% else %}
              <small><small>{{ language | capitalize | append: ','}}</small></small>
              {% endif %}
              {% endfor %}
            </li>
            {% endif %}
          </ul>
          {% endif %}
          {% if person.education %}
          <ul class="fl list pa0 ma0 mv1-ns w-100 w-50-ns wow animated fadeInUp">
            <label class="db mv1 tracked mid-gray b ttu"><small>Education</small></label>
            {% for item in person.education %}
            <li class="fl-ns w-100-ns"><small>{{ item.degree }} <small>{{ item.area_of_study }}</small></small></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if person.digital_profile %}
          <ul class="fl list pa0 ma0 mv1-ns w-100 w-50-ns wow animated fadeInUp">
            <label class="db mv1 tracked mid-gray b ttu"><small>Devices</small></label>
            {% for item in person.digital_profile.hardware %}
            <li class="dib mr2"><small>{{ item.device | capitalize }}</small></li>
            <li class="dib mr2"><abbr title="{{ item.type }}"><i class="fa fa-fw fa-{{ item.type }}" aria-hidden="true"></i></abbr></li>
            {% endfor %}
          </ul>
          <ul class="fl list pa0 ma0 mv1-ns w-100 w-50-ns wow animated fadeInUp">
            <label class="db mv1 tracked mid-gray b ttu"><small>Internet Use</small></label>
            <li class="dib mr2"><abbr title="Wifi"><i class="fa fa-fw fa-wifi" aria-hidden="true"></i></abbr><small></small></li>
            <li class="dib mr2"><abbr title="YouTube"><i class="fa fa-fw fa-youtube-play" aria-hidden="true"></i></abbr><small>YouTube</small></li>
            <li class="dib mr2"><abbr title="Social Media"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></abbr><small>Facebook</small></li>
          </ul>
          {% endif %}
        </aside>
        <p class="tl pa0 center mh0-l lh-copy measure measure-wide-l"><small>{{ person.persona }}</small></p>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
<section class="ph3 ph4-ns pv4 pv6-ns near-white bg-near-black">
  <figure class="ma0">
    <div id="appRevenue" class="h5 mv2 mv4-ns"></div>
    <h2 class="f3 f2-ns mv0 lh-title tracked-tight wow animated fadeInDown">Global Mobile App Revenue (%) by Type</h2>
    <figcaption class="f6 f5-ns mv2 mv4-ns measure-wide lh-copy wow animated fadeIn"></figcaption>
    <label class="db mv3 mv4-ns tracked silver b ttu"><small>Source</small></label>
    <cite class="fs-normal silver"><a class="dib link blue underline-hover b ttu" href="strategy.html">U.S. Bureau of Labor Statistics<i class="fa fa-fw fa-long-arrow-right"></i></a></cite>
  </figure>
</section> -->
<section class="ph3 ph4-ns pv4 pv5-ns near-white bg-blue tc">
  <h2 class="f2 f1-ns mv0 lh-title tracked-tight wow animated fadeInDown">Get a Quote</h2>
  <h3 class="f4 f3-ns mv2 normal lh-copy wow animated fadeIn">Want to work with {{ site.title }}?</h3>
  <div class="wow animated fadeInUp">
    <a class="dim no-underline br-pill ba bw1 ph4 pv3 mv2 dib near-white b ttu tracked" href="mailto:info@studiocraft.cc">info@studiocraft.cc</a>
  </div>
</section>
