<header class="w-100 ph3 ph4-ns pv5 pv6-ns bg-yellow">
  <h1 class="f1 f-subheadline-m f-headline-l lh-title mv1 mv3-ns tracked-tight" data-action="cursor">{{ site.title }}</h1>
  <!-- <h2 class="f3 f2-ns mv0 lh-cop measure-narrow">For any Project.</h2> -->
  <nav class="wow animated fadeIn">
    <ul class="list pa0 mv4 lh-copy">
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="#furniture" data-scroll>Furniture</a></li>
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="#services" data-scroll>Services</a></li>
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="#about" data-scroll>About</a></li>
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="#contact" data-scroll>Contact</a></li>
    </ul>
  </nav>
  <address class="fs-normal wow animated fadeInUp">
    <ul class="list pa0 mv4 lh-copy">
      <li class="dib mr2"><a class="link underline-hover dark-gray" href="mailto:hello@studiocraft.cc"><abbr title="Email"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></abbr>hello@studiocraft.cc</a></li>
      <!-- <li class="dib mr2"><a class="link underline-hover dark-gray" href="tel:760-265-1232"><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(760) 265-1232</a></li> -->
      <li class="dib mr2"><a class="link underline-hover dark-gray" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>New York, NY</a></li>
    </ul>
  </address>
</header>
