<header class="w-100 ph3 ph4-ns pv5 pv7-ns bg-yellow relative">
  <h1 class="f1 f-5-m f-6-l lh-title ma0" data-action="cursor">{{ site.title }}</h1>
  <nav class="wow animated fadeIn">
     <ul class="list pl0">
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="{{ site.baseurl }}#strategy">Strategy</a></li>
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="{{ site.baseurl }}#design">Design</a></li>
      <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="{{ site.baseurl }}#technology">Technology</a></li>
     </ul>
   </nav>
   <div class="absolute bottom-2 db wow animated fadeInUp">
      <ul class="list pl0">
        <li class="dib mr2"><a class="link underline-hover dark-gray" href="mailto:hello@studiocraft.cc"><abbr title="Email"><i class="fa fa-fw fa-envelope"></i></abbr>hello@studiocraft.cc</a></li>
        <li class="dib mr2"><a class="link underline-hover dark-gray" href="tel:760-265-1232"><abbr title="Phone"><i class="fa fa-fw fa-phone"></i></abbr>(760) 265-1232</a></li>
        <li class="dib mr2"><a class="link underline-hover dark-gray" href="tel:760-265-1232"><abbr title="Location"><i class="fa fa-fw fa-map-marker"></i></abbr>New York, NY</a></li>
      </ul>
    </div>
</header>
