<section class="dt-ns w-100 near-white bg-near-black" id="contact">
  <div class="db dtc-ns w-100 w-40-ns ph3 ph4-ns pv4 pv5-ns">
    <h2 class="f4 f3-ns mv0 lh-title tracked-tight wow animated fadeInDown" data-action="cursor">{{ site.title }}</h2>
    <address class="fs-normal mv4 wow animated fadeInUp">
      <label class="db mv1 tracked silver b ttu"><small>Contact</small></label>
      <ul class="list pa0 mv0 lh-copy">
        <li><a class="link underline-hover mid-gray" href="mailto:hello@studiocraft.cc"><abbr title="Email" aria-hidden="true"><i class="fa fa-fw fa-envelope"></i></abbr>hello@studiocraft.cc</a></li>
        <li><a class="link underline-hover mid-gray" href="tel:13472211926"><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(347) 221-1926</a></li>
        <li><a class="link underline-hover mid-gray" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>Brooklyn, NY</a></li>
      </ul>
    </address>
    <address class="fs-normal mv4 wow animated fadeInUp">
      <label class="db mv1 tracked silver b ttu"><small>Founder &amp; Creative Director</small></label>
      <ul class="list pa0 mv0 lh-copy">
        <li><span>Bryan Colosky</span></li>
        <li><a class="link underline-hover mid-gray" href="mailto:bryan.colosky@studiocraft.cc"><abbr title="Email"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></abbr>bryan.colosky@studiocraft.cc</a></li>
      </ul>
    </address>
    <address class="fs-normal mv4 wow animated fadeInUp">
      <label class="db mv1 tracked silver b ttu"><small>Partner</small></label>
      <ul class="list pa0 mv0 lh-copy">
        <li><span>Melda Kahraman</span></li>
        <li><a class="link underline-hover mid-gray" href="mailto:melda.kahraman@studiocraft.cc"><abbr title="Email"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></abbr>melda.kahraman@studiocraft.cc</a></li>
      </ul>
    </address>
  </div>
  <div class="dn dtc-ns w-100 w-60-ns relative">
    <div id="map" class="absolute absolute--fill wow animated fadeIn" style="background-color:transparent"></div>
  </div>
</section>
