<nav class="navigation-main" data-headroom data-tolerance="10" data-offset="320" data-classes='{"initial":"animated","pinned":"translateDown","unpinned":"translateUp","top":"navbar-inverse","notTop":"navbar-default"}'>
  <header>
  <img class="logo" src="{{ site.baseurl }}/assets/svg/studiocraft-logo.svg">
    <nav id="filters">
      <ul>
        <li><a href="javascript:void(0)" data-filter="*" class="active"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></a></li>
        <li><a href="javascript:void(0)" data-filter="[data-category~='street']">Street</a></li>
        <li><a href="javascript:void(0)" data-filter="[data-category~='architecture']">Architecture</a></li>
        <li><a href="javascript:void(0)" data-filter="[data-category~='nature']">Nature</a></li>
        <li><a href="javascript:void(0)" data-filter="[data-category~='travel']">Travel</a></li>
        <li><a href="javascript:void(0)" data-filter="[data-category~='artifact']">Artifact</a></li>
      </ul>
    </nav>
  </header>
</nav>
