<section class="ph3 ph4-ns pv4 pv6-ns bg-near-black white">
  <article>
    <h3 class="f3 f2-ns lh-title tracked-tight wow animated fadeInDown">Contact</h3>
    <p class="lh-copy measure wow animated fadeIn">This Privacy Policy is effective as of <time>{{ site.time | date: "%B %d, %Y" }}</time> and if you have any questions about this Privacy Policy, please contact {{ site.title }}.</p>
    <address class="fs-normal wow animated fadeInUp">
      <ul class="list pa0 mv0 lh-copy">
        <li><a class="link underline-hover dark-gray" href="mailto:hello@studiocraft.cc"><abbr title="Email"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></abbr>hello@studiocraft.cc</a></li>
        <li><a class="link underline-hover dark-gray" href="tel:760-265-1232"><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(760) 265-1232</a></li>
        <li><a class="link underline-hover dark-gray" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>New York, NY</a></li>
      </ul>
    </address>
  </article>
</section>
