<center class="ph3 ph4-m ph6-l pv4 pv5-ns near-black bg-near-white">
  <h2 class="f3 f2-m f1-l mv0 lh-title tracked-tight wow animated fadeInDown">Enter your Email</h2>
  <h3 class="f4 f3-ns mv2 normal lh-copy wow animated fadeIn">Design &amp; tech resources straight to your inbox.</h3>
  <div id="mc_response"></div>
  <div id="mc_embed_signup">
    <form class="wow animated fadeInUp" action="http://studiocraft.us13.list-manage.com/subscribe/post-json?u=53d65332ef68bfdcc203b272f&amp;id=da5d8d18d8&amp;c=?" method="GET" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group input-group">
          <label class="dn" for="mce-EMAIL">Email</label>
          <input type="email" value="" name="EMAIL" class="required w5 w-two-thirds-m w-third-l email w-third-ns input-reset dib mv3 br-pill ba ph4 pv3 outline-0 b--light-silver" id="mce-EMAIL" placeholder="Email">
        </div>
      </div>
      <input type="submit" class="input-reset button-reset mv3 ph4 pv3 outline-0 mh2 br-pill ba bw1 b ttu b--dark-gray dark-gray bg-transparent dim" value="Subscribe">
    </form>
  </div>
</center>
