<h2 class="f2 f1-ns lh-title tracked-tight wow animated fadeInDown">Overview</h2>
<p class="measure lh-copy wow animated fadeIn">{{ page.overview | newline_to_br }}</p>
<h3 class="f3 f2-ns lh-title tracked-tight wow animated fadeInDown">Termination</h3>
<p class="lh-copy measure-wide wow animated fadeIn">We may terminate or suspend access to the Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
<p class="lh-copy measure-wide ttu wow animated fadeIn">ALL PROVISIONS OF THE TERMS WHICH BY THEIR NATURE SHOULD SURVIVE TERMINATION SHALL SURVIVE TERMINATION, INCLUDING, WITHOUT LIMITATION, OWNERSHIP PROVISIONS, WARRANTY DISCLAIMERS, INDEMNITY AND LIMITATIONS OF LIABILITY.</p>
