* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-family: "source-code-pro",sans-serif;
  line-height: 1.4;
  font-size: 62.5%; }

body {
  color: #333333;
  font-size: 1.6rem;
  background-color: #eeeeee;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; }
  @media screen and (min-width: 38rem) {
    a {
      letter-spacing: .1rem; } }
  a:hover, a:focus {
    color: #222222;
    text-decoration: underline; }
  a:active, a:visited {
    color: #2a2a2a;
    text-decoration: underline; }

img {
  display: block; }
  img.logo {
    max-width: 48rem;
    margin-bottom: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.25;
  color: inherit;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3.6rem; }

h2 {
  margin-top: 1rem;
  font-size: 1.5rem; }

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem; }

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1.6rem; }

strong {
  color: inherit; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

::-moz-selection {
  color: #FFFFFF;
  background-color: #333333; }

::selection {
  color: #FFFFFF;
  background-color: #333333; }

::moz-selection {
  color: #FFFFFF;
  background-color: #333333; }

main {
  position: relative;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-bottom: -10rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%; }

main::after {
  content: "";
  display: block; }

nav ul {
  list-style: none;
  display: block;
  margin-bottom: 1.6rem; }
  nav ul > li {
    display: inline;
    margin-left: 0.4rem; }
  nav ul > li:first-child {
    margin-left: 0; }

header {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

footer, main::after {
  height: 10rem; }

footer {
  width: 100%;
  line-height: 1.4;
  padding-left: 1.6rem;
  padding-right: 1.6rem; }

/* ---- isotope ---- */
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  padding: 10px;
  background: #888;
  color: #262524; }

.element-item > * {
  margin: 0;
  padding: 0; }

.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal; }

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white; }

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px; }

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px; }

.element-item.street {
  background: #FFDC00; }

.element-item.architecture {
  background: #CCFF00; }

.element-item.nature {
  background: #39CCCC; }

.element-item.travel {
  background: #F012BE; }

.element-item.portrait {
  background: #0074D9; }

.element-item.alkali {
  background: #F00;
  background: red; }

.element-item.alkaline-earth {
  background: #F80;
  background: #ff9900; }

.element-item.lanthanoid {
  background: #FF0;
  background: #ccff00; }

.element-item.actinoid {
  background: #0F0;
  background: #33ff00; }

.element-item.transition {
  background: #0F8;
  background: #00ff66; }

.element-item.post-transition {
  background: #0FF;
  background: cyan; }

.element-item.metalloid {
  background: #08F;
  background: #0066ff; }

.element-item.diatomic {
  background: #00F;
  background: #3300ff; }

.element-item.halogen {
  background: #F0F;
  background: #cc00ff; }

.element-item.noble-gas {
  background: #F08;
  background: #ff0099; }

.button,
button {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  color: inherit;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color: transparent;
  border: .15rem solid #222222;
  border-radius: 1.8rem; }
  @media (min-width: 38em) {
    .button,
    button {
      letter-spacing: .1rem; } }

input[type='submit'], input[type='reset'], input[type='button'] {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  color: inherit;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color: transparent;
  border: .15rem solid #222222;
  border-radius: 1.8rem; }
  @media (min-width: 38em) {
    input[type='submit'], input[type='reset'], input[type='button'] {
      letter-spacing: .1rem; } }

.button:hover,
button:hover {
  text-decoration: none;
  color: inherit; }

input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover {
  text-decoration: none;
  color: inherit; }

.button:focus,
button:focus {
  text-decoration: none;
  color: inherit;
  outline: 0; }

input[type='submit']:focus, input[type='reset']:focus, input[type='button']:focus {
  text-decoration: none;
  color: inherit;
  outline: 0; }



/*# sourceMappingURL=app.css.map */
