::-webkit-scrollbar {
  background: $gray-lighter;
  width: .5rem;

	&:horizontal {
		height: .5rem;
	}
}

::-webkit-scrollbar-thumb {
  background: $gray-darker;
  border-radius: .25rem;
  border: (.5rem / 4) solid $gray-lighter;
  box-sizing: content-box;
}
