// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: "source-code-pro",sans-serif;
  line-height: 1.4;
  font-size: 62.5%
}

body {
  color: #333333;
  font-size: 1.6rem;
  background-color: #111111;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #FFDC00;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  @media screen and (min-width: 38rem) {
    letter-spacing: .1rem;
  }

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: darken(#FFDC00, 6.667%);
    text-decoration: underline;
  }
  &:active,
  &:visited {
    color: darken(#FFDC00, 6.667%);
    text-decoration: underline;
  }
}

// Images
img,
picture {
  display: block;
  min-width: 100%;
  margin: 0 auto;

  ::selection {
    background-color: #333333;
  }

  ::moz-selection {
    background-color: #333333;
  }

  &.logo {
    max-width: 18rem;
    margin-bottom: 1rem;
  }

  &.bg {
    height: 200%;
    width: 200%;
    position: fixed;
    top: -50%;
    left: -50%;

    img {
      opacity: .06;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
    }
  }
}

//Horizontal Row
hr {
  border: #FFDC00 solid 0;
  border-bottom-width: 4.2rem;
  margin-bottom: 3.2rem;
}
