// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: "source-code-pro",sans-serif;
  line-height: 1.4;
  font-size: 62.5%
}

body {
  color: #333333;
  font-size: 1.6rem;
  background-color: #eeeeee;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  @media screen and (min-width: 38rem) {
    letter-spacing: .1rem;
  }

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: darken(#333333, 6.667%);
    text-decoration: underline;
  }
  &:active,
  &:visited {
    color: darken(#333333, 3.667%);
    text-decoration: underline;
  }
}

// Images
img {
  display: block;
  width: 100%;

  &.logo {
    max-width: 48rem;
    margin-bottom: 1.6rem;
  }
}


img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
