.button,
button {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  color: inherit;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background-color: transparent;
  border: .15rem solid #222222;
  border-radius: 1.8rem;

  @media (min-width: 38em) {
    letter-spacing: .1rem;
  }
}

input {
  &[type='submit'],
  &[type='reset'],
  &[type='button'] {
    display: inline-block;
    padding: 1rem 1.6rem;
    margin-bottom: 0;
    color: inherit;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    background-color: transparent;
    border: .15rem solid #222222;
    border-radius: 1.8rem;

    @media (min-width: 38em) {
      letter-spacing: .1rem;
    }
  }
}

.button:hover,
button:hover {
  text-decoration: none;
  color: inherit;
}

input {
  &[type='submit']:hover,
  &[type='reset']:hover,
  &[type='button']:hover {
    text-decoration: none;
    color: inherit;
  }
}

.button:focus,
button:focus {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

input {
  &[type='submit']:focus,
  &[type='reset']:focus,
  &[type='button']:focus {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}
