// Layout
//
// Styles for managing the structural hierarchy of the site.

main {
  position: relative;
  padding-left:  1.6rem;
  padding-right: 1.6rem;
  margin-bottom: -16rem;
  margin-left:  auto;
  margin-right: auto;
  min-height: 100%;
}

main::after {
  content: "";
  display: block;
}

header, section {
  position: relative;
  padding-top: 1.6rem;

  @media (min-width: 38em) {
    width: 50%;
    max-width: 42.334rem;
  }
}

section > nav {
  margin-bottom: 12rem;
}

footer, main::after {
  height: 24rem;
}

footer {
  height: 16rem;
  width: 100%;
  line-height: 1.4;
  padding-left:  1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 38em) {
    width: 50%;
    max-width: 42.334rem;
  }
}
