// Layout
//
// Styles for managing the structural hierarchy of the site.

main {
  position: relative;
  padding-left:  1.6rem;
  padding-right: 1.6rem;
  margin-bottom: -10rem;
  margin-left:  auto;
  margin-right: auto;
  min-height: 100%;
}

main::after {
  content: "";
  display: block;
}

header, section {
  position: relative;
  padding-top: 1.6rem;

  @media (min-width: 38em) {
    width: 50%;
    max-width: 42.334rem;
  }
}

nav ul {
  list-style: none;
  display: block;
  margin-bottom: 1rem;

  > li {
    display: inline;
    margin-left: .4rem
  }

  > li:first-child {
      margin-left: 0;
    }
  }

footer, main::after {
  height: 10rem;
}

footer {
  width: 100%;
  line-height: 1.4;
  padding-left:  1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 38em) {
    width: 50%;
    max-width: 42.334rem;
  }
}
