// Layout
//
// Styles for managing the structural hierarchy of the site.

main {
  position: relative;
  padding-left:  1.6rem;
  padding-right: 1.6rem;
  margin-bottom: -10rem;
  margin-left:  auto;
  margin-right: auto;
  min-height: 100%;
}

main::after {
  content: "";
  display: block;
}

nav ul {
  list-style: none;
  display: block;
  margin-bottom: 1.6rem;

  > li {
    display: inline;
    margin-left: .4rem
  }

  > li:first-child {
      margin-left: 0;
    }
  }

header {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

footer, main::after {
  height: 10rem;
}

footer {
  width: 100%;
  line-height: 1.4;
  padding-left:  1.6rem;
  padding-right: 1.6rem;
}

/* ---- isotope ---- */

.grid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

/* ---- .grid-item ---- */

.grid-item {
  position: relative;
  float: left;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item > figure {
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .95;
    transition: all 300ms;
  }

  .overlay.street                { background: #FFDC00}
  .overlay.architecture          { background: #CCFF00}
  .overlay.nature                { background: #39CCCC}
  .overlay.travel                { background: #F012BE}
  .overlay.artifact              { background: #0074D9}

  &:hover {
    cursor: zoom-in;

    .overlay {
      opacity: .1;
      transition: all 300ms;
    }
  }

  img {
    display: block;
    width: 100%;
    z-index: -10;
  }

  figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .name {
      position: absolute;
      left: 1.6rem;
      bottom: 3.2rem;
      font-weight: normal;
    }

    .symbol {
      position: absolute;
      left: 1.6rem;
      top: 0;
      font-size: 4em;
      font-weight: bold;
      color: white;
    }

    .number {
      position: absolute;
      right: 1.6rem;
      top: 1.6rem;
    }

    .year {
      position: absolute;
      left: 1.6rem;
      bottom: 0;
      font-size: 80%;
    }
  }
}


.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
