.banner , .overlay {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.banner {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &.bg1 {
    background-image: url('../images/micro-chip.jpg');
  }

  &.bg2 {
    background-image: url('../images/new-york.jpg');
  }
}

.overlay {
  background-color: transparentize($brand-primary, .25);

  & a {
    color: white;
    text-decoration: none;

    &:hover,
    &:active {
      color: darken(white, 10);
    }
  }
}
