.banner {
  min-height: 100%;

  .jumbotron {
    border-radius: 0;
    padding-top: $navbar-height;
  }

  .overlay {
    background-color: transparentize($brand-primary, .25);
  }

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &:active {
      color: darken(white, 10);
    }
  }
}

.bg, .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &.rndm1 {
    background-image: url('../images/micro-chip.jpg');
  }

  &.rndm2 {
    background-image: url('../images/new-york.jpg');
  }
}
