<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>
  <body class="{{ page.slug }}">
    <main id="content">
      <header>
      <img class="logo" src="{{ site.baseurl }}/assets/svg/studiocraft-logo.svg">
        <nav id="filters">
          <ul>
            <li><a href="javascript:void(0)" data-filter="*"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)" data-filter=".metal">Street</a></li>
            <li><a href="javascript:void(0)" data-filter=".post-transition">Architecture</a></li>
            <li><a href="javascript:void(0)" data-filter=".transition">Nature</a></li>
            <li><a href="javascript:void(0)" data-filter=".alkali">Travel</a></li>
            <li><a href="javascript:void(0)" data-filter=".alkaline-earth">Portraits</a></li>
          </ul>
        </nav>
      </header>
    {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
